
img {
    width: 2%;
    margin-left: 15px;
}

nav, a {
    text-align: right;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
a:hover {
    text-decoration: underline;
}
#title_label {
    font-size: 100%;
    color: #d93025;
    font-family: Arial, Helvetica, sans-serif;
}
#appbar {
    font-size: 20px;
    margin: 25px 35px;
}
.gy3Eif {
    border-bottom: 1px solid #ebebeb;
}
#form {
    margin: 25px 35px;
    font-family: Roboto, Arial, sans-serif;
}
#submit {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: white;
    padding: 8px;
}

#label {
    font-size: 20px;
}

input, label {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search_box_labels {
    margin-left: 250px;
    font-size: 75%;
    color: gray;
}