nav, a {
    text-align: right;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
a:hover {
    text-decoration: underline;
}
#search_bar {
    border-radius: 15px;
    width: 20%;
    height: 5%;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px black;
}
#search_area {
    text-align: center;
}
#google_logo {
    width: 10%;
    display: block;
    margin: auto;
}
.search_buttons {
    border: none;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
    color: #3c4043;
}